*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container-menu{
  
    width: 100%;
    padding: 100px 0;
    
    background: #2e2e2e;

   
}


.container-menu .style-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 70px;
}


.container-menu .style-menu h2 {
    font-size: 1.5em;
    color: #fff;
    
}

.style-menu .style-border{
    width: 80px;
    height: 5px;
    background: rgb(223, 176, 24);
    border-radius: 10px;
}


.container-menu-itens{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;

    
    
    
}


.container-menu-itens .item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 350px;
    transition: 0.3s ease;
    cursor: pointer;


    
   
}


.container-menu-itens .item:hover{
    background: #7472722f;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.178);
}


.container-menu-itens .item img{
    width: 180px;
    height: 180px;
    padding: 10px;
    
}

.container-menu-itens .item .name-production{
    color: #fff;
    font-size: 1.25em;
    width: 70%;
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
   

   

}


.container-menu-itens .item .description{
    text-align: center;
    width: 80%;
    font-weight: 300;
    color: #fff;
    font-size:0.75em;
    padding-left: -70px;

     
}



@media screen and (max-width:950px) {
      *{
        padding: 0;
        margin: 0;
      } 


    

    .container-menu-itens{

        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 45%);
        margin-top: 10px;
    }

    .item .name-production{
        padding-left: 0.80em;
    }

    .item .description{
        max-width: 70%;
    
       
    }

}



@media screen and (max-width:600px){
    .container-menu{
        padding: 100px 0 0;
    }
    .container-menu-itens{
        display: block;
        text-align: center;
    }


    


}