@keyframes transpBackground {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}




#menu-options {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 96;
    background-color: rgba(0, 0, 0, 0.308);
    backdrop-filter: blur(5px);

    animation: transpBackground 200ms linear 1;
    cursor: pointer;


}


#produtos {

    width: 50%;
    height: 90%;
    background-color: #fefefe;
    z-index: 97;
    border-radius: 20px;
    animation: transpBackground 300ms linear 1;




}


.produtions-btn-fechar {
    background: none;
    border: none;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 1.25em;
    cursor: pointer;
    transition: 0.3s linear;
}

.produtions-btn-fechar:hover {
    color: rgb(223, 176, 24);
}

.titulo-carrinho{
    margin-bottom: 10px;
}


.lista-de-item {

    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;


}

.container-produtos {
    width: 100%;
    height: 500px; /* altura fixa — ajuste como quiser */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* começa de cima */
    overflow-x: hidden;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
}



.produtos-item {
    padding: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.062);
}

.produtos-item img {
    width: 80px;
    height: 80px;
}

.produtos-item .container-descricao-item {

    padding: 10px;
}

.produtos-item .container-descricao-item .descricao-item {
    font-size: 1em;
}

.produtos-item .container-descricao-item .preco-item {
    font-size: 1em;
    margin-top: 10px;
}

.nome-produto{
    font-size: 1.3em;
}



.btn-add-carrinho {
    width: 45px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.3em;
    border: none;
    background: none;
    cursor: pointer;
    color: black;
    transition: 500ms ease;

}

.btn-add-carrinho:hover {
    background: rgb(223, 176, 24);
    color: white;
}


.btn-carrinho-compras{
    color:white;
    background-color: rgb(223, 176, 24) ;
    font-size: 1.2em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 19;
    padding: 5px;
    border: none;
    border-radius: 10%;
    transition: 1s ease;
    cursor: pointer;
    
}


#backgroudCarrinho{
    
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


#carrinho{
    position: absolute;
    height: 600px;
    width: 600px;
    background-color: #fefefe;
    z-index: 99;
    border-radius: 20px;
    
    padding: 20px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.itens-carrinho{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.103);
    overflow-x: hidden;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    
    
}


.produtos-carrinho{
    margin-top: 1em;
    font-size: 0.85em;
    
    height: 20%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.btn-fechar-carrinho{
    background: none;
    border: none;
    font-size: 1em;
    position: absolute;
    top: 7px;
    left: 15px;
    transition: color 300ms ease;
    cursor: pointer;
}

.btn-fechar-carrinho:hover{
    color:  rgb(223, 176, 24) ;
    
}

.remover-item-carrinho{
    padding: 5px 10px;
    color: rgb(255, 0, 0);
    border: transparent;
    border-radius: 5px;
    background-color: transparent;
    opacity: 1;
    cursor: pointer;
    transition: background 500ms ease;
}
.remover-item-carrinho:hover{
    background-color: red;
    color: #fefefe;
}

#preco-total{
    margin-top: 10px;
}

#btn-finalizar-pedido{
    display: none;
    margin-top: 10px;
    background-color: rgb(9, 165, 9);
    padding: 6px 12px;
    font-size: 1em;
    font-weight: 400;
    color: #fefefe;
    border: 1px solid rgb(9, 129, 9);
    border-radius: 8px;
    cursor: pointer;
    transition: 500ms ease;
}

#btn-finalizar-pedido:hover{
    background-color: rgba(32, 143, 32, 0.61);
}






@media screen and (max-width:950px) {
    .container-produtos {
        height: 500px;
    }



    #produtos {

        width: 100%;
        height: 100%;


    }


    .produtos-item .container-descricao-item .descricao-item {
        font-size: 0.8em;
    }

    .produtos-item .container-descricao-item .preco-item {

        font-size: 0.8em;

    }


    #backgroudCarrinho #carrinho{
        width: 100%;
        height: 100%;
    }

    .itens-carrinho{
        width: 100%;

        font-size: 0.7em;

    }

    .remover-item-carrinho{
        padding: 3px 5px;
        font-size: 0.9em;
    }
}