@keyframes transpBackground {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}




#menu-options {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 96;
    background-color: rgba(0, 0, 0, 0.308);
    backdrop-filter: blur(5px);

    animation: transpBackground 200ms linear 1;
    cursor: pointer;


}


#produtos {

    width: 50%;
    height: 90%;
    background-color: #fefefe;
    z-index: 97;
    border-radius: 20px;
    animation: transpBackground 300ms linear 1;




}


.produtions-btn-fechar {
    background: none;
    border: none;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 1.25em;
    cursor: pointer;
    transition: 0.3s linear;
}

.produtions-btn-fechar:hover {
    color: rgb(223, 176, 24);
}


.lista-de-item {

    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;


}

.container-produtos {
    width: 100%;
    height: 500px; /* altura fixa — ajuste como quiser */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* começa de cima */
    overflow-x: hidden; 
     border: 1px solid rgba(0, 0, 0, 0.062);
     border-radius: 10px;
}



.produtos-item {
    padding: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.062);
}

.produtos-item img {
    width: 80px;
    height: 80px;
}

.produtos-item .container-descricao-item {

    padding: 10px;
}

.produtos-item .container-descricao-item .descricao-item {
    font-size: 1em;
}

.produtos-item .container-descricao-item .preco-item {
    font-size: 1em;
    margin-top: 10px;
}




.btn-add-carrinho {
    width: 45px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.3em;
    border: none;
    background: none;
    cursor: pointer;
    color: black;
    transition: 500ms ease;

}

.btn-add-carrinho:hover {
    background: rgb(223, 176, 24);
    color: white;
}








@media screen and (max-width:950px) {

    #produtos {

        width: 100%;
        height: 100%;


    }


    .produtos-item .container-descricao-item .descricao-item {
        font-size: 0.8em;
    }

    .produtos-item .container-descricao-item .preco-item {

        font-size: 0.8em;

    }
}