

.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}


.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
    transition: all 1s;
}






.ul-gallery > :nth-child(2){
    transition-delay:200ms ;
}
.ul-gallery >:nth-child(3){
    transition-delay:400ms;
}
.ul-gallery >:nth-child(4){
    transition-delay: 600ms;
}
.ul-gallery > :nth-child(5){
    transition-delay: 800ms;
}
.ul-gallery > :nth-child(6){
    transition-delay:1000ms;
}